<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage"
    {{- with .Site.Language.LanguageDirection }} dir="{{ . }}" {{- end -}}
    {{ with .Site.Language.Lang }} lang="{{ . }}" {{- end }} {{/**/ -}}
    class="no-js">
  <head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/playground/simulator.css">
    <link rel="stylesheet" href="/playground/simulator-bootstrap.css">
    <link rel="modulepreload" href="/playground/resources/editor.bundle.min.js"/>
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{ partial "sidebar.html" . }}
          </aside>
          <main class="col-12 col-md-9 col-xl-10 ps-md-5" role="main">
            <div class="row">
              <div class="col-12 col-xl-6">
                {{ partial "version-banner.html" . }}
                {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
                {{ block "main" . }}{{ end }}
              </div>
              <div class="col-12 col-xl-6">
                <div class="mb-3">
                  <div class="playground-editor" tabindex="-1"></div>
                </div>
                <div class="row justify-content-end">
                  <div class="col col-auto">
                    <div id="board" class="btn-group mb-3">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Select a developer board">...</button>
                      <div class="dropdown-menu">
                      </div>
                    </div>
                    <button class="btn btn-secondary mb-3 playground-btn-reset" disabled title="Restore code and simulator to the beginning state">Reset</button>
                    <button class="btn btn-secondary mb-3 playground-btn-flash" disabled title="Download firmware image to flash to a board">Flash</button>
                  </div>
                </div>
                <div class="simulator mb-3">
                  <div class="schematic-buttons">
                    <button class="schematic-button-pause schematic-button" title="Pause/resume the simulation">
                      <!-- only one of these two images is visible at a time -->
                      <img src="/playground/resources/codicon/debug-pause.svg" class="button-img-pause"/>
                      <img src="/playground/resources/codicon/play.svg" class="button-img-play"/>
                    </button>
                  </div>
                  <svg class="schematic" tabindex="0">
                    <g class="schematic-wrapper" style="transform: translate(50%, 50%)">
                      <g class="schematic-parts"></g>
                      <g class="schematic-wires"></g>
                    </g>
                  </svg>
                  <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active panel-tab-terminal" id="simulator-tab-terminal" data-bs-toggle="tab" data-bs-target="#simulator-panel-terminal" type="button" role="tab" aria-controls="simulator-panel-terminal" aria-selected="true">Terminal</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="simulator-properties-tab" data-bs-toggle="tab" data-bs-target="#simulator-panel-properties" type="button" role="tab" aria-controls="simulator-panel-properties" aria-selected="false">Properties</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="simulator-add-tab" data-bs-toggle="tab" data-bs-target="#simulator-panel-add" type="button" role="tab" aria-controls="simulator-panel-add" aria-selected="false">Add</button>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-content">
                    <div class="tab-pane active terminal-box" id="simulator-panel-terminal" role="tabpanel" aria-labelledby="simulator-tab-terminal">
                      <textarea class="terminal" readonly tabindex="0"></textarea>
                    </div>
                    <div class="tab-pane panel-properties content" id="simulator-panel-properties" role="tabpanel" aria-labelledby="simulator-properties-tab">
                      <div class="content" tabindex="0"></div>
                    </div>
                    <div class="tab-pane" id="simulator-panel-add" role="tabpanel" aria-labelledby="simulator-add-tab" tabindex="0">
                      <div class="panel-add">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <div class="schematic-tooltip"></div>
                  <div class="templates d-none">
                    <button class="panel-add-button btn btn-primary btn-sm">Add</button>
                    <select class="panel-add-select form-select form-select-sm"></select>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
