$gunmetal: #022f40ff;
$pacific-blue: #38aeccff;
$blue-ncs: #0090c1ff;
$gunmetal-2: #183446ff;
$blue-sapphire: #046e8fff;
$alice-blue: #edf9fcff;

$primary: $blue-sapphire;
$blue: $blue-ncs;
$secondary: $gunmetal;
$light: $alice-blue;
$dark: $gunmetal-2;
